<tr>
  <td><%= diet_plan.custom_id %></td>
  <td><%= diet_plan.name %></td>
  <td><%= diet_plan.goal %></td>
  <td><%= diet_plan.category.name %></td>

  <td><%= link_to confirm_deletion_diet_plan_path(diet_plan), class: 'btn btn-xs btn-danger' do %>
    <i class="fa fa-times"></i>
  <% end %></td>
</tr>
