<div class="form-group nested-fields">
  <div class='col-sm-3'>
    <%= f.text_field :portion, class: 'form-control', placeholder: 'Porción' %>
  </div>

  <div class='col-sm-3'>
    <%= f.text_field :calories, class: 'form-control', placeholder: 'Calorías' %>
  </div>

  <div class='col-sm-2'>
    <%= f.select :day, options_for_select([['Lunes', 1], ['Martes', 2],
      ['Miercoles', 3], ['Jueves', 4], ['Viernes', 5], ['Sabado', 6],
      ['Domingo', 0]]), class: 'form-control' %>
  </div>

  <div class='col-sm-3'>
    <%= f.select :day_moment, Meal.day_moments, class: 'form-control'%>
  </div>

  <div class='col-sm-1'>
    <%= link_to_remove_association f, class: 'btn btn-danger' do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
</div>
