<% if params[:action] == 'destroy' %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        Existe un deportista que tiene asignado únicamente este plan.
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h3>Plan: <%= @diet_plan.custom_id %></h3>

    <div class="alert alert-warning">
      <p><strong>Deportistas con este plan :</strong></p>
      <% if @diet_plan.deportists.any? %>
        <ul>
          <% @diet_plan.deportists.each do |d| %>
            <%= "#{d.name} (##{d.number})" %>
          <% end %>
        </ul>
      <% else %>
        Este plan no se encuentra asignado a ningún deportista.
      <% end %>
    </div>

    <div class="alert alert-danger">
      Seguro que lo desea borrar?
    </div>

    <%= link_to 'Cancelar', root_path, class: 'btn btn-default' %>
    <%= link_to 'Borrar', diet_plan_path(@diet_plan), class: 'btn btn-danger', method: :delete  %>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Nombre</dt>
      <dd><%= @diet_plan.name %></dd>
      <dt>Objetivo</dt>
      <dd><%= @diet_plan.goal %></dd>
      <dt>Categoría</dt>
      <dd><%= @diet_plan.category.name %></dd>
      <dt>Tipo de plan</dt>
      <dd><%= DietPlan::TYPES[@diet_plan.plan_type] %></dd>
      <dt>Rango Etáreo</dt>
      <dd>Desde <%= @diet_plan.from_age %> hasta <%= @diet_plan.to_age %></dd>
      <dt>Rango IMC</dt>
      <dd>Desde <%= @diet_plan.from_imc %> hasta <%= @diet_plan.to_imc %></dd>
    </dl>
  </div>
</div>
