<div class='row'>
  <% if @diet_plan.errors.any? %>
    <div class='col-lg-12'>
      <div class="alert alert-danger">
        <ul>
          <% @diet_plan.errors.full_messages.each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class='col-lg-12'>
    <div class='well bs-component'>
      <%= form_for @diet_plan, html: { class: 'form-horizontal' } do |f| %>
        <fieldset>
          <legend>
            Nuevo Plan Dietario
          </legend>

          <div class="form-group">
            <%= f.label :custom_id, 'ID:', class: 'col-sm-2 control-label' %>
            <div class='col-sm-10'>
              <% custom_id = @diet_plan.auto_generate_id %>
              <%= f.text_field :custom_id, value: custom_id,
                disabled: 'disabled', class: 'form-control' %>
                <%= f.hidden_field :custom_id, value: custom_id %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :name, 'Nombre:', class: 'col-sm-2 control-label' %>
            <div class='col-sm-10'>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :goal, 'Objetivo:', class: 'col-sm-2 control-label' %>
            <div class='col-sm-10'>
              <%= f.text_area :goal, class: 'form-control', placeholder: 'Objetivos' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :category, 'Categorias:', class: 'col-sm-2 control-label' %>

            <div class='col-sm-10'>
              <%= f.collection_select :category_id, @categories, :id, :name,
                class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :plan_type, 'Tipo de plan:', class: 'col-sm-2 control-label' %>

            <div class='col-sm-10'>
              <%= f.select :plan_type, options_for_select(DietPlan.available_plan_types),
                  class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :from_age, 'Rango Etéreo:', class: 'col-sm-2 control-label' %>

            <div class='col-sm-4'>
              <%= f.text_field :from_age, class: 'form-control', placeholder: 'Desde' %>
              <span class="help-block">
                Si no se ingresa un rango de edad, se asume que es válido para cualquier edad.
              </span>
            </div>

            <div class='col-sm-4'>
              <%= f.text_field :to_age, class: 'form-control', placeholder: 'Hasta' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :from_imc, 'Rango IMC:', class: 'col-sm-2 control-label' %>

            <div class='col-sm-4'>
              <%= f.text_field :from_imc, class: 'form-control', placeholder: 'Desde' %>
              <span class="help-block">
                Si no se ingresa un rango de IMC, se asume que es válido para cualquier IMC.
              </span>
            </div>

            <div class='col-sm-4'>
              <%= f.text_field :to_imc, class: 'form-control', placeholder: 'Hasta' %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :duration, 'Duración:', class: 'col-sm-2 control-label' %>

            <div class='col-sm-4'>
              <%= f.text_field :duration, class: 'form-control', placeholder: 'Duracion' %>
            </div>

            <div class='col-sm-4'>
              <%= f.select :duration_type, options_for_select(DietPlan.duration_types),
                class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :frequency, 'Frecuencia de ingestas:', class: 'col-sm-2 control-label' %>

            <div class='col-sm-10'>
              <%= f.select :frequency, options_for_select(DietPlan.frequencies),
                class: 'form-control' %>
            </div>
          </div>

          <legend>
            Ingestas
          </legend>

          <%= f.fields_for :meals do |meal| %>
            <%= render 'meal_fields', :f => meal %>
          <% end %>

          <div class='agregar-ingesta'>
            <%= link_to_add_association 'Agregar Ingesta', f, :meals, class: 'btn btn-primary' %>
          </div>

          <legend>
          </legend>

          <%= f.submit 'Guardar plan dietario', class: 'btn btn-success pull-right' %>
          <%= link_to 'Cancelar', root_path, class: 'btn btn-default pull-right' %>

        </fieldset>
      <% end %>
    </div>
  </div>
</div>
