<tr>
  <td><%= deportist.number %></td>
  <td><%= deportist.name %></td>
  <td><%= deportist.age %></td>
  <td><%= deportist.imc %></td>

  <td>
    <%= link_to 'Asignar Plan Dietario', new_deportist_diet_plan_assignment_path(deportist),
      class: 'btn btn-sm btn-primary pull-right' %>
  </td>
</tr>
