<div class="row">
  <div class="col-md-4">
    <h3>Deportistas</h3>
  </div>
  <div class="col-md-4">
    <form method="get" action="/deportists" class="form-inline btn-nuevo" role="form">
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="filter" value="<%= params[:filter] %>"
          class="form-control" placeholder="Buscar">
        </div>
      </div>

      <button type="submit" class="btn btn-default">
        <i class="fa fa-search"></i>
      </button>
    </form>

  </div>
  <div class="col-md-4">
    <%= link_to 'Nuevo Deportista', new_deportist_path, class: 'btn btn-success btn-lg btn-nuevo' %>
  </div>
</div>

<div class="row">
  <br/>
  <div class="col-md-11">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>IMC</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @deportists.present? %>
        <%= render @deportists %>
        <% else %>
        <tr>
          <th colspan=5>
            <p style="text-align:center">Aún no hay deportistas ingresados en el sistema.</p>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
