<div class='row'>
  <div class='col-lg-12'>
    <div class='well bs-component'>
      <%= form_for @deportist, html: { class: 'form-horizontal' } do |f| %>
      <fieldset>
        <legend>
          Nuevo Deportista
        </legend>

        <div class="form-group">
          <%= f.label :number, 'Número:', class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= f.text_field :number, class: 'form-control', placeholder: 'Número' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :name, 'Nombre:', class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :age, 'Edad:', class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= f.text_field :age, class: 'form-control', placeholder: 'Edad' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :imc, 'IMC:', class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= f.text_field :imc, class: 'form-control', placeholder: 'IMC' %>
          </div>
        </div>

        <%= f.submit 'Crear deportista', class: 'btn btn-success pull-right' %>
        <%= link_to 'Cancelar', deportists_path, class: 'btn btn-default pull-right' %>

      </fieldset>
      <% end %>
    </div>
  </div>
</div>
