<div class="row">
  <div class="col-md-12">
    <% if @diet_plan_assignment.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @diet_plan_assignment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3><%= @deportist.name %> (#<%= @deportist.number %>)</h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Planes dietarios actuales</h4>
    <% if @deportist.diet_plans.any? %>
      <dl>
        <dt>Principal</dt>
        <dd><%= @deportist.main_diet_plan.name %></dd>
      </dl>
      <h5>Secundarios</h5>
      <ul>
        <% @deportist.secondary_diet_plans.each do |dp| %>
        <li>
          <%= dp.name %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <p> Actualmente no hay planes asignados. </p>
    <% end %>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Número</dt>
      <dd><%= @deportist.number %></dd>
      <dt>Noombre</dt>
      <dd><%= @deportist.name %></dd>
      <dt>Edad</dt>
      <dd><%= @deportist.age %></dd>
      <dt>IMC (Índice de Masa Corporal)</dt>
      <dd><%= @deportist.imc %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Asignar nuevo plan dietario</h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for [@deportist, @diet_plan_assignment], html: { class: 'form-inline' } do |f| %>
      <div class="form-group col-md-4">
        <%= f.label :diet_plan, 'Plan:' %>
        <%= f.collection_select :diet_plan_id, @diet_plans, :id, :name %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :priority, 'Prioridad:' %>
        <%= f.select :priority, options_for_select(DietPlanAssignment.priorities) %>
      </div>

      <div class="form-group col-md-4">
        <%= f.submit 'Asignar Plan', class: 'btn btn-success pull-right' %>
        <%= link_to 'Cancelar', deportists_path, class: 'btn btn-default pull-right' %>
      </div>
    <% end %>
  </div>


</div>
