<div class="row">
  <div class="col-md-4">
    <h3>Planes dietarios</h3>
  </div>
  <div class="col-md-4">
    <form method="get" action="/" class="form-inline btn-nuevo" role="form">
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="filter" value="<%= params[:filter] %>"
            class="form-control" placeholder="Buscar">
        </div>
      </div>

      <button type="submit" class="btn btn-default">
        <i class="fa fa-search"></i>
      </button>
    </form>

  </div>
  <div class="col-md-4">
    <%= link_to 'Nuevo Plan Dietario', new_diet_plan_path, class: 'btn btn-success btn-lg btn-nuevo' %>
  </div>
</div>

<div class="row">
  <br/>
  <div class="col-md-11">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Objetivo</th>
          <th>Categoría</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @diet_plans.present? %>
          <%= render @diet_plans %>
        <% else %>
        <tr>
          <th colspan=5>
            <p style="text-align:center">No se encontraron registros.</p>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
