<!DOCTYPE html>
<html>
<head>
  <title>Módulo de Gestión Dietaria</title>
  <%= stylesheet_link_tag    'application',
    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Módulo de Gestión Dietaria', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= params[:controller] == 'home' ? 'active' : '' %>"><%= link_to 'Planes Dietarios', root_path %></li>
          <li class="<%= params[:controller] == 'deportists' ? 'active' : '' %>"><%= link_to 'Deportistas', deportists_path %></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div id="main-content" class="container">
    <%= yield %>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
